<footer>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <h5>Ajuda</h5>

                <ul>
                    <li class="page1"><a >Contato</a></li>
                    <li class="page2"><a >Formulário de contato 7</a></li>
                    <li class="page3"><a >Política de Privacidade</a></li>
                    <li class="page4"><a >Política de Reembolso e Devolução</a></li>
                    <li class="page5"><a >Termos e Condições</a></li>

                </ul>
            </div>
            <div class="col">
                <h5>Siga-nos</h5>
                <div>
                    <a><img class="icone-telegram" src="./assets/img/telegram.svg" alt="icone telegram"></a>
                    <a><img class="icone-facebook" src="./assets/img/facebook.svg" alt="icone facebook"></a>
                    <a><img class="icone-twitter" src="./assets/img/twitter.svg" alt="icone twitter"></a>
                    <a><img class="icone-instagram" src="./assets/img/instagram.svg" alt="icone instagram"></a>
                </div>
            </div>
            <div class="col">
                <h5>A loja</h5>
                <p>277-1152, Im Games,
                    <br>
                "Um mundo Melhor"
                </p>
                <p>+195-137-6898</p>
                <p>ImSistem@gmail.com</p>
                <p>
                    2023 IMSISTEM
                    <br>
                    Todos os direitos reservados
                
                  </p>

            </div>
        </div>
    </div>
</footer>